ffmpeg-python
Pillow==5.4.1
PyAutoGUI==0.9.41
PyGetWindow==0.0.4
PyMsgBox==1.0.6
PyRect==0.1.4
PyScreeze==0.1.19
PyTweening==1.0.3
pywin32==224
scikit-learn==0.20.3
scipy==1.2.1
sklearn==0.0
opencv-python==3.4.3.18
imutils
torch==1.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
numpy
imutils
matplotlib
keras
pynput